@{
    ViewBag.Title = "Detail";
}

@using System.Globalization
@model Rabbit.IOnline.Models.ViewModels.MessageViewModel

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="@Url.Action("List", "Message")">List messages</a></li>
    <li class="active">Message created at @Model.CreatedAt.ToString(CultureInfo.InvariantCulture)</li>
</ol>

<div class="well well-sm" id="preview">
</div>
<input type="hidden" value="@Model.Body" id="msg"/>

<script type="text/javascript">
    $('div#preview').previewShowdown({
        source: 'input#msg',
    });
</script>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'hionline';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
