@{
    ViewBag.Title = "List";
}
@model Rabbit.IOnline.Models.ViewModels.ListViewModel

<h2>List</h2>

<div>
    <button class="btn btn-primary" type="button">
        Messages <span class="badge">@Model.MessageCount</span>
    </button>
</div>
