@{
    ViewBag.Title = "List";
}
@using Rabbit.IOnline.Models.ViewModels

@model ListViewModel

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">List of messages</li>
</ol>

<div>
    <button class="btn btn-primary" type="button">
        Messages <span class="badge">@Model.MessageCount</span>
    </button>
</div>

<div>
    @{Html.RenderPartial("_MessageList", Model);}
</div>
